<%- include("partials/header.ejs") %>
<%- include("partials/main.ejs") %>
<div class="list-container">
<ul>

<% if (locals.newItems.length>0){ %>
<%for(var i=0;i<newItems.length;i++){%>
   
    <li id="task-list" >  
         <input class="checkbox" type="checkbox" name=<%= newItems[i] %> value=<%= newItems[i] %> id=<%= newItems[i] %>  />    
         <label for=<%= newItems[i] %>> <%= newItems[i]%></label>
    </li>
     <% } %>    
    <% }else{ %>
        <p>No tasks to display at the moment.</p>
        <% } %>
</ul>
</div>

<%- include("partials/footer.ejs") %>
